/* root */
:root {

    --scrollbar: #a978da!important;
    --buttonHover: #f7fff700!important;
    --box: #F9FDFF!important;

    --main: rebeccapurple!important;
    --main100: #4b266f!important;

    --footerNav: #959494b6!important;
    --secondary: #424242!important;
    --secondary100: #212121!important;

    --primary: #F7FFF7!important;
    --text: #0A090C!important;

    --dark: #000000!important; 
    --light: #ffffff!important;
    --light50: #eaf1ea!important;

    --box-one: #89828F!important;
    --box-two: #8C7F98!important;
    --box-three: #8D78A0!important;
    --box-four: #8C6EA8!important;
    --box-five: #8D66B0!important;
    --box-six: #8250AE!important;
    --box-seven: #7C44AE!important;
    --box-eight: #7639AC!important;
    --box-nine: #732BB2!important;
    --box-ten: #681EA9!important;
    --box-eleven: #60189F!important;
    --box-twelve: #5C0DA0!important;

}

[data-theme="dark"] {

    --scrollbar: #c6c5c5!important;
    --buttonHover: #a4a4a4!important; 
    --box: #F9FDFF!important;

    --main: #F1F1F1!important;
    --main100: #c1c1c1!important;

    --footerNav: #959494b6!important;
    --secondary: #424242!important;
    --secondary100: #212121!important;

    --primary: #1D1E21!important;
    --primary100: #0d0e0f!important;

    --text: #EEECEF!important;
    --header: #F1F1F1!important; 

    --dark: #000000!important; 
    --light: #ffffff!important;
    --light50: #eaf1ea!important;

    --box-one: #C1C1C1!important;
    --box-two: #B3B3B3!important;
    --box-three: #A3A3A3!important;
    --box-four: #929292!important;
    --box-five: #838383!important;
    --box-six: #737373!important;
    --box-seven: #636363!important;
    --box-eight: #535353!important;
    --box-nine: #434343!important;
    --box-ten: #333333!important;
    --box-eleven: #232323!important;
    --box-twelve: #131313!important;
}

html, body {
    box-sizing: border-box;
    overflow-x: hidden;
    max-width: 100%;
    color: var(--text);
    background-color: var(--primary);
}

/* Scroll Bar */

::-webkit-scrollbar {
    width: 0.35rem;
    height: 0.35rem;
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar); 
    border-radius: .75rem;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--main); 
}

/* Fonts */

/* Fonts Bold */
@font-face {
    font-family: "Moderat Bold";
    src: url(/assets/font/moderat/Moderat-Bold.ttf);
}

/* Fonts Medium */
@font-face {
    font-family: "Moderat Medium";
    src: url(/assets/font/moderat/Moderat-Medium.ttf);
}

/* Fonts Regular */
@font-face {
    font-family: "Moderat Regular";
    src: url(/assets/font/moderat/Moderat-Regular.ttf);
}

/* Fonts Light */
@font-face {
    font-family: "Moderat Light";
    src: url(/assets/font/moderat/Moderat-Light.ttf);
}


/* Header */
.secondary {
    background-color: var(--main);
    border-color: var(--main);
}


button.btn {
    color: var(--secondary);
    background-color: var(--light50);
    border: none!important;
}

button.btn:hover {
    color: var(--text);
    background-color: var(--buttonHover);
}

header {
    /* var(--secondary); */
    background-color: var(--main);
    border-radius: 0rem 0rem 0.375rem 0.375rem;
}


/* Nav */
nav h5 {
    font-family: "Moderat Bold";
    /* font-size: 1.5rem; */
    color: var(--primary);
    text-decoration: none;
}

nav span {
    font-family: "Moderat Regular";
    /* font-size: 1.5rem; */
    color: var(--primary);
}


.form-check-input[type=checkbox] {
    -webkit-transition: .4s!important;
    transition: .4s!important;
    background-color: var(--primary);
    border-color: var(--secondary);
}

.form-check-input[type=checkbox]:checked {
    -webkit-transition: .4s!important;
    transition: .4s!important;
    background-color: var(--dark);
    border-color: var(--secondary);
}

.form-check-input, .form-check-label {
    cursor: pointer;
}



/* Main */


/* About */
.about-title h4 {
    font-family: "Moderat Bold";
    color: var(--text);
}

.about-title a {
    cursor: help;
    text-decoration: underline!important;
}

i.bi.bi-info-circle {
    cursor: help;
    font-size: 0.6rem;
    vertical-align: 0.15rem;
}

.about-title p, .about-title a {
    font-family: "Moderat Regular";
    font-size: 1rem;
    letter-spacing: 0.03rem;
    color:  var(--text);
}

/* Child Count Section */
.child-count h6 {
    font-family: "Moderat Medium";
    color:  var(--text);
}

.child-count-input {
    background-color: var(--box);
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.05)!important;
}

.box-pallets {
    width: 38rem;
    height: 18rem;
    overflow: hidden;   
    border-radius: 1rem!important;
    background: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 0.3125rem;
}

.control-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


.flex-parent {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 1rem!important;
}

.flex-child {
    display: flex;
	justify-content: center;
	align-items: center;
    /* width: 38rem; */
    padding: 0px 1.27rem;
    /* font-size: 1rem; */
    font-family: "Moderat Regular";
    text-align: center;
    /* line-height: 132px; */
    color: var(--light);
}

.flex-child.count-one {
    background-color: var(--box-one);
}

.flex-child.count-two {
    background-color: var(--box-two);
}

.flex-child.count-three {
    background-color: var(--box-three);
}

.flex-child.count-four {
    background-color: var(--box-four);
}

.flex-child.count-five {
    background-color: var(--box-five);
}

.flex-child.count-six {
    background-color: var(--box-six);
}

.flex-child.count-seven {
    background-color: var(--box-seven);
}

.flex-child.count-eight {
    background-color: var(--box-eight)
}

.flex-child.count-nine {
    background-color: var(--box-nine);
}

.flex-child.count-ten {
    background-color: var(--box-ten);
}

.flex-child.count-eleven {
    background-color: var(--box-eleven);
}

.flex-child.count-twelve {
    background-color: var(--box-twelve);
}

/* flexbox-Rules Section */

.flexbox-rules h4 {
    font-family: "Moderat Bold";
    color: var(--text);
}

.flexbox-rules h6 {
    font-family: "Moderat Medium";
}

.flexbox-rules .form-check label {
    font-family: "Moderat Regular";
}

.flexbox-rules .form-check-input:checked {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.flexbox-rules .form-check-input:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

/* Output Code Section */

.output h3 {
    font-family: "Moderat Bold";
}

.output-code {
    font-family: "Moderat Light";
    border: 1px solid var(--light50);
    border-radius: 0.5rem;
    background-color: var(--light50);
}

pre.preview, .output-code {
    color: var(--secondary);
}

/* Modal */

.modal-content {
    background-color: #F9F9F9!important;
    border-color: #DADADA!important;
    padding: 0.5rem!important;

}

.modal-header {
    font-family: "Moderat Medium";
    border: 0!important; 
}

.modal-body {
    font-family: "Moderat Light";
    border: 0!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.modal-footer {
    border: 0!important;
}

.modal-btn {
    font-family: "Moderat Regular";
    color: #4F4A57!important;
    background: none!important;
}

.modal-footer a button.btn {
    font-family: "Moderat Regular";
    color: #4F4A57!important;
    background: none!important;
    text-decoration: underline;
}



/* / */



/* Footer */

footer {
    border-top: 1px solid var(--footerNav);
}

footer h5 {
    font-family: "Moderat Bold";
}

footer p {
    font-family: "Moderat Regular";
}

a.btn-up .scroll-btn {
    color: var(--primary);
    background-color: var(--main);
}

a.btn-up .scroll-btn:hover {
    color: var(--primary);
    background-color: #4b266f!important;
}


.footer-texts p {
    margin: 0;
    padding: 0;
}

.footer-texts p a {
    color: var(--text);
    text-decoration: none;
}

.footer-texts p a:hover {
    color: var(--text);
    text-decoration: underline;
}


[data-theme="dark"] .modal-content {
    color: var(--dark);
}

[data-theme="dark"] .modal-footer a button {
    color: var(--light50);
    background-color: var(--primary);
}

[data-theme="dark"] .modal-footer a:hover {
    color: var(--light);
}

[data-theme="dark"] .modal-footer a button:hover {
    color: var(--light);
    background-color: var(--primary100)!important;
}

[data-theme="dark"] a.btn-up .scroll-btn:hover {
    color: var(--light50);
    background-color: var(--main100);
}

@media (min-width: 768px) {
    .child-count .col-md-1 {
        width: 8.5%;
    }
}

@media (min-width: 992px) {
    .child-count .col-md-1 {
        width: 6.5%!important;
    }
}

@media (min-width: 1200px) {
    .child-count .col-md-1 {
        width: 5.5%!important;
    }
}

@media only screen and (max-width: 780px) {
    .box-pallets {
        width: 29rem;
        height: 15rem;
    }
    
    .flex-child {
        padding: 0px .9rem;
        /* font-size: 1rem; */
    }
}

@media only screen and (max-width: 600px) {
    .box-pallets {
        width: 27rem;
        height: 15rem;
    }

    .flex-child {
        padding: 0px .8rem;
        /* font-size: 1rem; */
    }
}

@media only screen and (max-width: 510px) {
    .box-pallets {
        width: 25rem;
        height: 15rem;
    }

    .flex-child {
        padding: 0px 0.73rem;
        /* font-size: 0.9rem; */
    }
}

@media only screen and (max-width: 450px) {
    .box-pallets {
        width: 23rem;
        height: 15rem;
    }

    .flex-child {
        padding: 0px 0.65rem;
        /* font-size: 0.85rem; */
    }
}

@media only screen and (max-width: 400px) {
    .box-pallets {
        width: 20rem;
        height: 15rem;
    }

    .flex-child {
        padding: 0px 0.58rem;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 350px) {
    .box-pallets {
        width: 19rem;
        height: 15rem;
    }

    .flex-child {
        padding: 0px 0.55rem;
        /* font-size: 0.65rem!important; */
    }

    /* Font */
    .h3, h3 {
        font-size: calc(1.2rem + .6vw)!important;
    }

    .h4, h4 {
        font-size: calc(1.1rem + .3vw)!important;
    }

    .h5, h5 {
        font-size: .95rem!important;
    }

    .h6, h6 {
        font-size: .9rem!important;
    }

    pre, .pre {
        font-size: .9rem!important;
    }
 
    .p, p, p.fs-6 {
        font-size: .9rem!important;
    }

    .flexbox-rules .form-check label {
        font-family: "Sequel rh";
        font-size: .9rem!important;
    }

}

@media only screen and (max-width: 330px) {
    .box-pallets {
        width: 17rem;
        height: 15rem;
    }

    .flex-child {
        padding: 0px 0.46rem;
        /* font-size: 0.5rem!important; */
    }

    /* Font */
    .h3, h3 {
        font-size: calc(1.1rem + .6vw)!important;
    }

    .h4, h4 {
        font-size: calc(1rem + .3vw)!important;
    }

    .h5, h5 {
        font-size: .85rem!important;
    }

    .h6, h6 {
        font-size: .8rem!important;
    }

    pre, .pre {
        font-size: .8rem!important;
    }
    
    .p, p, p.fs-6 {
        font-size: .8rem!important;
    }

    .flexbox-rules .form-check label {
        font-family: "Sequel rh";
        font-size: .8rem!important;
    }
}

/* @media only screen and (max-width: 310px) {
    .box-pallets {
        width: 17rem;
        height: 15rem;
    }

    
    .flex-child {
        padding: 0px 0.39rem;
    }
} */

@media only screen and (max-width: 300px) {

    
    .box-pallets {
        width: 15rem;
        height: 15rem;
    }

    .flex-child {
        padding: 0px 0.37rem;
        /* font-size: 0.8rem; */
    }

    .h3, h3 {
        font-size: calc(1rem + .6vw)!important;
    }

    .h4, h4 {
        font-size: calc(.9rem + .3vw)!important;
    }

    .h5, h5 {
        font-size: .75rem!important;
    }

    .h6, h6 {
        font-size: .7rem!important;
    }

    pre, .pre {
        font-size: .7rem!important;
    }
    
    .p, p, p.fs-6 {
        font-size: .7rem!important;
    }

    .flexbox-rules .form-check label {
        font-size: .7rem!important;
    }

    
    .col-6.col-md-6.col-lg-3.col-xl-2.mb-4.mb-lg-0, 
    .col-6.col-md-6.col-lg-3.col-xl-2 {
        margin-bottom: 0;
        margin-bottom: 0.7rem!important;
    }

    [class*="col-"] {
        width: 100%;
    }
    [class*="col-2"] {
        width: 30%;;
    }
}

@media only screen and (max-width: 270px) {

    .box-pallets {
        width: 14rem;
        height: 15rem;
    }

    .flex-child {
        padding: 0px 0.33rem;
    }
}

@media only screen and (max-width: 250px) {

    .box-pallets {
        width: 12rem;
        height: 15rem;
    }

    .flex-child {
        padding: 0px 0.25rem;
    }


    .html, body {
        width: 100%;
        overflow-x: scrol!important;
    }

   
    .h3, h3 {
        font-size: calc(.9rem + .6vw)!important;
    }

    .h4, h4 {
        font-size: calc(.8rem + .3vw)!important;
    }

    .h5, h5 {
        font-size: .65rem!important;
    }

    .h6, h6 {
        font-size: .6rem!important;
    }

    pre, .pre {
        font-size: .6rem!important;
    }
    
    .p, p, p.fs-6, p.fs-6 {
        font-size: .6rem!important;
    }

    .flexbox-rules .form-check label {
        font-size: .6rem!important;
    }
}

@media only screen and (max-width: 220px) {

    .box-pallets {
        width: 11rem;
        height: 15rem;
    }

    .flex-child {
        padding: 0px 0.2rem;
    }


}

@media only screen and (max-width: 200px) {

    .box-pallets {
        width: 10rem;
        height: 15rem;
    }

    .flex-child {
        padding: 0px 0.16rem;
    }

}

@media only screen and (max-width: 180px) {

    .box-pallets {
        width: 9rem;
        height: 15rem;
    }

    .flex-child {
        padding: 0px 0.12rem;
    }
}

@media only screen and (max-width: 170px) {

    .box-pallets {
        width: 10rem;
        height: 15rem;
    }

    .flex-child {
        padding: 0px 0.12rem;
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 160px) {

    .box-pallets {
        width: 10rem;
        height: 10rem;
    }

    .flex-child {
        padding: 0px 0.1rem;
        /* font-size: 0.8rem; */
    }
}

/* transition */
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 150ms !important;
  transition-delay: 0 !important;
}


.hide {
    display: none;
}

.form-switch .form-check-input, 
.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23663399'/%3E%3C/svg%3E");
}

.form-switch .form-check-input[type=checkbox]:checked:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
